<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrb2sKyO-TrS3U5GAl9GIrWuZhqo4Ol8U</string>
	<key>GCM_SENDER_ID</key>
	<string>937917224782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-application-d92c8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-application-d92c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937917224782:ios:e77a79b27386a0b4e4b01f</string>
</dict>
</plist>